@import url('https://fonts.googleapis.com/css2? family= Noto+Sans:wght@100;200 & display=swap');

:root{
  --color--neutral-0: #0e0c0c;
  --color--neutral-10: #171717;
  --color--neutral-30: #a8a29e;
  --color--neutral-40: #f5f5f5;
}
body{
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}
*{
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  letter-spacing: 1px;
}
main{
  height: 100vh;
  background: linear-gradient(rgb(44, 85, 122),rgb(25, 93, 124)); /*cor do site*/
}
nav{
  width: 100%;
  height: 80px;
  background: #7baee9;
}
nav > img{
  width: 150px;
  position: absolute;
  margin: 0px;
  top: -34px; /*altura da imagem*/
  left: 7%; /*distancia da imagem*/
}
nav > img:hover{
  cursor: pointer;
}
nav > ul{
  float: right;
  margin-right: 25px;
}
nav > ul > li{
  display: inline-block;
  line-height: 50px; /*altura da lista*/
  margin: 0 10px; /*distancia da lista*/
}
nav > ul > li > a{
  position: relative;
  color: #026666; /*Mudar a cor da letra*/
  font-size: 18px;
  padding: 5px 0;
  text-transform: uppercase;
}
nav > ul > li > a::before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #bdd4f7; /*Mudar a cor do curso*/
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}
nav > ul > li > a:hover:before{
  transform: scaleX(1);
  transform-origin: right;
}
label #btn /* o # é um seletor de id*/
label #cancel{
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width:944px){
  nav > img{
    left: 6%;
    top: 20px;
    width: 130px;
  }
  nav > ul > li > a{
    font-size: 17px;
  }
}
@media (max-width:860px){ /*3 negocio*/
  label #btn{
   display: block;
  }
ul{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(50, 63, 80, 0.685);
  top: 80px;
  left: -100%;
  text-align: center;
  transition: all .5s;
}
nav > ul > li{
  display: block;
  margin: 50px 0;
  line-height: 30px;
}
nav > ul > li > a{
  font-size: 20px;
}
#check:checked ~ ul{
  left: 0;
}
#check:checked ~ label #btn{
  display: none;
}
#check:checked ~ label #cancel{
  display: block;
}
}

                          /*parte de cima navegação*/

footer{
  width: 100%;
  color: var(--color--neutral-40) ;
}
.fundo-link{
text-decoration: none;
}
#fundo_content{
  background-color: var(--color--neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*vai deixa as 4 cores em coluna*/
  padding: 3rem 3.5rem;
}
#fundo_contacts img{
  width: 200px; /*tamanho img*/
  top: -34px; /*altura da imagem*/
  left: 7%; /*distancia da imagem*/
margin-bottom: 0.50rem; /*espaçamento entre a img*/
}
#fundo_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}
#fundo_social_media .fundo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color--neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}
#fundo_social_media .fundo-link i{
  font-size: 1.25rem; /*muda o tamanho do icone*/
}
#fundo_social_media .fundo-link:hover{
  opacity: 0.8;
}
#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#facebook {
  background-color: #4237b3;
}
#whatsapp{
  background-color: #25d366;
}
.fundo-list{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}
.fundo-list .fundo-link{
  color: var(--color--neutral-30);
  transition: all 0.4s;
}
.fundo-list .fundo-link:hover{ 
  color: #7f37c9;
}
#fundo_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#fundo_subscribe p {
  color: var(--color--neutral-30);
}
#input_group {
  display: flex;
  align-items: center;
  background-color: var(--color--neutral-0) ;
  border-radius: 4px;
}
#input_group input{
  all: unset;
  padding: 0.75rem;
  width: 100%;
}
#input_group button{
  background-color: #7f37c9;
  border: none;
  color: var(--color--neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.25rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}
#input_group button:hover{
  opacity: 0.8;
}
#fundo_copyright{
  display: flex;
  justify-content: center;
  background-color: var(--color--neutral-0);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  #fundo_content{
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media screen and (max-width: 426px) {
  #fundo_content{
    grid-template-columns: repeat(1, 1fr);
  padding: 3rem 2rem;
  }
}

                        /*parte de baixo login, cima footer*/

.cad-card{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgb(44, 85, 122),rgb(25, 93, 124)); /*cor do site*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.cad-cadastro{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cad-image{
  width: 25vh;
  padding-bottom: 250px;
  margin-left: 100px;
}
.desc-simpha p{
  text-align: left;
  font-family: 'Noto Sans', sans-serif;
  color: #f7f7f7;
  font-size: 25px;
  display: flex;
  width: 350px;
  margin-left: -430px;
}
.cad-right{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cad-right a{
  color: #f7f7f7;
}
.cad-right a:hover{
  color: #0073ff;
}
.cad-login{
  background: transparent;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  border-radius: 20px;
  box-shadow: 0px 10px 40px black;
}
.cad-login > h2{
  color: #f7f7f7;
  font-weight: 800;
  margin: 0;
}
.cad-login > h2:hover{
  color: #0073ff;
  transition: 0.5s;
  cursor: pointer;
}
.cad {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  border-bottom: 2px solid #f5f8fa;
  margin: 2px 0;
}
.cad label{
  color: #f1f7fc;
  margin-bottom: 10px;
}
.cad > input::placeholder{
  color: #f7f7f7;
}
.cad > input:hover::placeholder{
  opacity: 30%;
  transition: 0.5s;
}
.cad > input{
  width: 95%;
  background: transparent;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 12pt;
  color: #e7ebee;
  font-weight: 600;
  padding: 15px;
  box-sizing: border-box;
}
.cad .icon{
  position: absolute;
  right:8px;
  font-size: 1.2em;
  color: #9ebed1; /*muda a cor dos icon*/
  line-height: 57px;
}
.btn{
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border:none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #f7f7f7;
  background: #5d93d1;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px rgb(24, 26, 24);
}
@media only screen and (max-width: 950px) { /*para o tamanho do aparelho*/
  .cad-login{
    width: 85%;
  }
}
@media screen and (max-width:600px) {  /* para celula tem */
  .cad-card{
    flex-direction: column;
  }
  .cad-cadastro{   
    display: none;
  }
  .cad-cadastro{
    width: 100%;
    height: auto;
  }
  .cad-right{
    width: 100%;
    height: auto;
  }
.cad-cadastro-image{
  width: 50vh;
}
.cad-login{
  width: 90%;
}
}
 
 /*parte de baixo login, cima cadastro*/
.card{
  width: 100vw;
  background: #0000; /*cor do site*/
  justify-content: center;
  align-items: center;
  
}
.card-logo{
  background-image: url(../img/SIMPHA-\ sem\ fundo.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height:30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-image{
  width: 35vw;
}
.card-right{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card-login{
  background-size: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  border-radius: 20px;
  box-shadow: 7px 5px 15px 1px black;
}
.card-login > h2{
  color: #f7f7f7;
  font-weight: 800;
  margin: 0;
}
.card-login > h2:hover{
  cursor: pointer;
  color: #5d93d1;
  transition: 0.5s;
}
.darde {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  border-bottom: 2px solid #0c85ff;
  margin: 2px 0;
}
.darde label{
  color: #f1f7fc;
  margin-bottom: 10px;
}
.darde > input::placeholder{
  color: #f7f7f7;
}
.darde > input:hover::placeholder{
  transition: 2s;
  opacity: 30%;
}
.darde > input{
  width: 95%;
  background: transparent;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 12pt;
  color: rgb(243, 242, 242);
  font-weight: 600;
  padding: 15px;
  box-sizing: border-box;
}
.darde .icon{
  position: absolute;
  right: 10px;
  font-size: 1.2em;
  color: #9ebed1; /*muda a cor dos icon*/
  line-height: 57px;
}
.butao{
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border:none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #ffffff;
  background: #5d93d1;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px rgb(24, 26, 24);
}
.card-login a{
  font-weight: 1000;
  color: #f7f7f7;
}
.card-login a:hover{
  color: #5d93d1;
}
.butao:hover{
  color: #ffffff;
  background: #0073ff;
}
@media only screen and (max-width: 950px) { /*para o tamanho do aparelho*/
  .card-login{
    width: 85%;
  }
}
@media screen and (max-width:600px) {  /* para celula tem */
  .card{
    flex-direction: column;
  }
  .card-logo{   
    display: none;
  }
  .card-logo{
    width: 100%;
    height: auto;
  }
  .card-right{
    width: 100%;
    height: auto;
  }
.card-logo-image{
  width: 50vh;
}
.card-login{
  width: 90%;
}
}
                  

