@import url('https://fonts.googleapis.com/css2? family=Permanent+Marker&family=Raleway:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(rgb(92, 154, 247),rgb(43, 236, 243));
    background-size: cover;
    background-position: center;
    
}


header{
position: fixed;
padding: 20px 5px;
top: 0;
left: 0;
width: 100%;
display: flex;
justify-content: space-between ;
align-items: center;
z-index: 99;

}

.logo{
font-size: 2em;
color: #fff;
user-select: none;
}

.navegacao a {
position: relative;
font-size: 1.1em;
color: #fff;
text-decoration: none;
font-weight: 500;
margin-left: 40px;
}
.navegacao a::after {
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navegacao a:houver::after{
    transform: scaleX(1);
    transform-origin: left;
}


.navegacao .btnlogin-popup{

    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navegacao .btnlogin-popup:houver {
background: #fff;
color: #87bbe2;
}

.zin{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid rgba(255,255,255, .5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: height .2s ease;
    transition: transform .5s ease, height .2s ease;
}

.zin.active-popup{
   transform: scale(1);
}

.zin.active {
height: 520px;
}

.zin .card-l{
    width: 100%;
    padding: 40px;
   
}

.zin .card-l.login {
transition: transform .18 ease;
transform: translateX(0);
    
}

.zin.active .card-l.login{
 transition: none; 
 transform: translateX(-400px)

}

.zin .card-l.card-l.registro {
   transition: transform .18 ease;
    transform: translateX(0);
}    
.zin .card-l.registro{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.zin .icon-saida{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.card-l h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}  
.item{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.item label{
    position: absolute;
    top: 50%;
    left:5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    color: #162938;
    pointer-events: none;
    transition: .5s;
}

.item input:focus~label,
.item input:valid~label{
    top: -5px;
}

.item input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.item .icon{
 position: absolute;
 right:8px;
 font-size: 1.2em;
 color: #162938; /*muda a cor dos icon*/
 line-height: 57px;
}

.lembrar{
    font-size: .9em;
    color: #0e3a5c; /* mudar a cor do (Lembre de mim) */
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.lembrar label input{
    accent-color: #162938;
    margin-right: 3px;

}

.lembrar a{
    color: #162938;
    text-decoration: none;
}
.lembrar a:houver{
    text-decoration: underline;
}
.bt{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.registrar{
font-size: .9em;
color: #162938;
text-align: center;
font-weight: 500;
margin: 25px 0 10px;
}

.registrar p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
  
.registrar p a:hover{
    text-decoration: underline;
}